<div class="main-page">
    <div class="content row align-content-center px20">
        <img class="logo" src="assets/images/CBN-Expert-Logo.png" />

        <div class="col-6 left-page">
            <div class="title-area">
                <p class="title-text">You’re a few steps away from <br>
                        your Carbon Smart Dashboard.</p>
                <p class="subtitle-text">Measure your total carbon footprint.<br>
                        Break it down into priority areas. <br>
                        Manage long term, sustainable reductions.
                </p>
            </div>
        </div>

        <div class="col-6 ">
            <form [formGroup]="loginForm" class="login-form" (ngSubmit)="signin()">
                <div class="text-left">
                    <p class="page-name">
                        <a href="/signup"><span class="underline">Sign Up</span></a> &nbsp; or &nbsp;
                        <a href="javascript:void(0)"><span class="normal-font-color underline">Sign In</span></a>
                    </p>
                </div>
                <div fxLayout="row">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input formControlName="email" matInput placeholder="Email ID">
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error>
                                <span
                                    *ngIf="formController.email.hasError('required') || formController.email.hasError('email')">Please
                                    enter a valid email address</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input formControlName="password" matInput type="password" placeholder="Password"
                                (ngModelChange)="updateValue()">
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error>
                                <span *ngIf="formController.password.hasError('required')">Please enter a valid
                                    password</span>
                            </mat-error>
                            
                        </mat-form-field>
                    </div>
                </div>
                <div class="row assist-items">
                    <div class="col-6">
                        <mat-checkbox color="primary">Remember me</mat-checkbox>
                    </div>
                    <div class="col-6">
                        <a href="/pwdreset">Forgot Password</a>
                    </div>
                </div>
                <span class="password-warning" *ngIf="passwordInvalid">Invalid username or password. <br>Try again or
                    click Forgot password to reset it!
                </span>
                <button class="sign-btn mb-3" type="submit" mat-raised-button color="success">Sing In</button>
            </form>
        </div>
    </div>
</div>