<div class="main-page">
    <div class="content row align-content-center px20">
        <img class="logo" src="assets/images/CBN-Expert-Logo.png" />

        <div class="col-6 text-center">
            <div class="title-area">
                <img src="assets/images/rich-tree.png" />
                <p class="title-text">Awesome, you’re ready to go!</p>
            </div>
        </div>

        <div class="col-6">
            <div class="row right-content">
                <div class="col-6 order-list">
                    <!-- <img src="/assets/images/order-list-background.png"/> -->
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="page-name"><span style="font-weight: 300;">Order Summary</span></p> 
                            </li>
                            <li class="list-group-item">
                                <p class="item-label">Account User</p>
                                <p class="value-text">James Napier</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-label">Billing Address</p>
                                <p class="value-text">10 Downing Street,</p>
                                <p class="value-text">Westminster,</p>
                                <p class="value-text">London,</p>
                                <p class="value-text">SW1 2AA</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-label">Subscription Begins</p>
                                <p><span class="value-text">Immediately</span>(11/11/2019)</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-label">Initial Cost</p>
                                <p class="value-text">£15.00</p>
                            </li>
                            <li class="list-group-item">
                                <p class="item-label">Subscription Cost</p>
                                <p><span class="value-text">£15.00</span>/ month</p>
                                <p>Payments will be collected on the 
                                    <br>11th of each month</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="right-sub-content">
                        <p class="page-name">
                            <span class="normal-font-color">
                                Thanks for your <br>
                                payment. Let’s<br>
                                get Carbon <br>
                                Smart.                            
                            </span>
                        </p>
                        <button class="sign-btn mb-3" mat-raised-button color="success">Start Your Journey</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>