<div class="main-page">
    <div class="content row align-content-center px20">
        <img class="logo" src="assets/images/CBN-Expert-Logo.png" />

        <div class="col-6 text-lg-center">
            <div class="title-area">
                <p class="title-text">Join us on the journey to<br> a low carbon future.</p>
                <br>
                <p class="title-text">Sign up to become<br> Carbon Smart.</p>
            </div>
        </div>

        <div class="col-6 ">
            <form class="login-form" (ngSubmit)="done()">
                <div class="text-left">
                    <p class="page-name normal-font-color"><span>Password Reset Email Sent  <img src="assets/images/icon-check.png" /></span></p>
                    <p>Enter your email address below and we’ll get you<br>back on track</p>
                </div>
                <div fxLayout="row" class="assist-items">
                    <div class="col-6">
                        <button class="mb-3" type="submit" mat-raised-button color="success">Done</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>