<div class="main-page">
    <div class="content row align-content-center px20">
        <img class="logo" src="assets/images/CBN-Expert-Logo.png" />
        <div class="col-6 text-lg-center">
            <div class="title-area">
                <p class="title-text">You’re seconds away from<br> being Carbon Smart.</p>
                <img class="tree-img" src="assets/images/tree.png" />
                <p class="title-text">Let’s get going! Join the<br> Carbon Smart Club and<br> start your journey.</p>
            </div>
        </div>

        <div class="col-6 right-container">
            <div class="row">
                <div class="col-12">
                    <p class="page-name"><span class="normal-font-color">Thank You for Registering!</span></p>
                    <p>Please check your email for your verification link</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img class="message-img" src="assets/images/message-img.png" />                    
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="normal-font-color resend-button" mat-flat-button>Not received it? Send Again</button>
                </div>
            </div>
        </div>
    </div>
</div>