<div class="main-page">
    <div class="content row align-content-center px20">
        <img class="logo" src="assets/images/CBN-Expert-Logo.png" />

        <div class="col-6 text-lg-center">
            <div class="title-area">
                <p class="title-text">Join us on the journey to<br> a low carbon future.</p>
                <br>
                <p class="title-text">Sign up to become<br> Carbon Smart.</p>
            </div>
        </div>

        <div class="col-6 ">
            <form [formGroup]="loginForm" class="login-form" (ngSubmit)="signup()">
                <div class="text-left">
                    <p class="page-name"><a href="javascript:void(0)"><span class="normal-font-color underline">Sign Up</span></a> &nbsp; or &nbsp;
                        <a href="/signin"><span class="underline">Sign In</span></a></p>
                </div>
                <div fxLayout="row">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input formControlName="name" matInput placeholder="Full Name">
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error>
                                <span *ngIf="formController.name.hasError('required')">Please enter a valid Full
                                    Name</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input formControlName="email" matInput placeholder="Email ID">
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error>
                                <span
                                    *ngIf="formController.email.hasError('required') || formController.email.hasError('email')">Please
                                    enter a valid email address</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input formControlName="password" matInput type="password" placeholder="Password"
                                (ngModelChange)="updateValue()">
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error>
                                <span *ngIf="formController.password.hasError('required')">Please enter a valid
                                    password</span>
                            </mat-error>
                            <span class="password-warning" *ngIf="passwordInvalid">Wrong Password. <br>Try again or
                                click Forgot password to reset it!</span>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input formControlName="confirmPassword" matInput type="password"
                                placeholder="Confirm Password">
                            <mat-icon matSuffix>lock_open</mat-icon>
                            <mat-error>
                                <span *ngIf="formController.confirmPassword.hasError('required')">Please enter a valid
                                    confirm password</span>
                                <div *ngIf="formController.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-checkbox class="term-checkbox" color="primary">I have read and I agree to the 
                    <a href="javascript:void(0)"><span class="normal-font-color">Terms</span></a> and <a href="javascript:void(0)"><span class="normal-font-color">Privacy</span></a> details
                </mat-checkbox>
                <button class="sign-btn mb-3" type="submit" mat-raised-button color="success">Sing Up</button>
            </form>
        </div>
    </div>
</div>